body {
  font-size: 10px;
  font-family: Gill Sans Extrabold, sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

td {
  font-family: Gill Sans Extrabold, sans-serif !important;
  text-align: right;
  fill-opacity: .50;
}

td, th {
    padding: 1px 4px;
    border: 1px black solid;
    font-size: 25px;
    font-family: Gill Sans Extrabold, sans-serif;
    fill-opacity: .50;

}
th {
  fill-opacity: .50;
}

thead {
  background-color: #A6A6A6;
  font-family: Gill Sans Extrabold, sans-serif;
  fill-opacity: .50;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}

text.title {
        fill: black;
        font-family: Gill Sans Extrabold, sans-serif;
        font-size: 20px !important;
        font-weight: bolder;
        text-anchor: middle;
        fill-opacity: .50;
      }

input.button {
  size: 20px;
  position: absolute;
  top: 120px;
  left: 1200px;
  float: right;
}

/**************************************
*        text related styles
**************************************/

text.clabel {
      fill: black;
      font-family: Gill Sans Extrabold, sans-serif;
      font-size: 6px;
      font-weight: bold;
      /*stroke: orange;*/
      text-anchor: middle;
      fill-opacity: .25;
}

.c-selected {
  /*fill:yellow;*/
  fill-opacity: .75;
}

.d-selected {
  fill-opacity:.5 !important;
}

.c-selected text.clabel{
      fill: black;
      font-weight:bolder;
      font-size: 10px;
      fill-opacity: .5;
      stroke: black;
      stroke-opacity: 0.5;
}


/*      .c-selected .c-mag text.clabel {
    font-size: 20px;
}*/

.c-mag text.clabel {
    font-weight: bolder;
    font-size: 10px;
}

.boundary {
      /*fill: none;*/
      stroke: #777;
      stroke-linejoin: round;
      stroke-opacity: .5;
}

/*.c-selected .boundary{*/
      /*fill: none;*/
/*      stroke: yellow;*/
/*      stroke-linejoin: round;*/
/*      stroke-opacity: 1.0;*/
/*}*/

.district {
  fill-opacity: 0.25;
}


/*.district:hover {*/
/*      fill:white !important;*/

/*}*/

.dlabel {
        fill: black;
        font-family: Gill Sans Extrabold, sans-serif;
        font-size: 20px;
        font-weight: bolder;
        text-anchor: middle;
        fill-opacity: .35;
}

/*.hoverD {*/
/*   fill:white;*/
/*}*/

